Package: xwiki-enterprise-tomcat7-mysql
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-common (= [[version]]), xwiki-enterprise-tomcat-common (= [[version]]), xwiki-enterprise-mysql-common (= [[version]]), tomcat7
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]