Package: xwiki-enterprise-pgsql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-common (= [[version]]), postgresql, libpg-java, dbconfig-common
Provides: xwiki-enterprise-database
Suggests: xwiki-enterprise-tomcat5-pgsql | xwiki-enterprise-tomcat6-pgsql | xwiki-enterprise-tomcat7-pgsql
Replaces: xwiki-enterprise-tomcat-pgsql (<< 3.5), xwiki-enterprise-database
Breaks: xwiki-enterprise-tomcat-pgsql (<< 3.5)
Conflicts: xwiki-enterprise-database
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]