Package: xwiki-enterprise-common
Version: [[version]]
Section: java
Priority: optional
Provides: xwiki, xwiki-enterprise
Recommends: xwiki-enterprise-tomcat5-mysql | xwiki-enterprise-tomcat5-pgsql | xwiki-enterprise-tomcat6-mysql | xwiki-enterprise-tomcat6-pgsql | xwiki-enterprise-tomcat7-mysql | xwiki-enterprise-tomcat7-pgsql
Architecture: all
Depends: dbconfig-common (>= 1.8.0), java6-runtime-headless | java6-runtime | java-6-runtime
Maintainer: XWiki Team (devs@xwiki.org)
License: LGPL 2.1
Description: XWiki enterprise common package
 XWiki is a free wiki software platform written in Java with a design emphasis
 on extensibility.
 .
 XWiki Enterprise is an easily installed enterprise wiki with features such as
 WYSIWYG editing, OpenOffice based document import/export, semantic annotations
 and tagging, and advanced permissions management.
 .
 XWiki Enterprise is designed to help teams collaborate more efficiently. It
 runs in a Java servlet container such as Tomcat.