Package: xwiki-enterprise-common
Version: [[version]]
Section: java
Priority: optional
Provides: xwiki, xwiki-enterprise
Suggests: xwiki-enterprise-tomcat7-mysql | xwiki-enterprise-tomcat7-pgsql
Architecture: all
Depends: dbconfig-common (>= 1.8.0), ttf-dejavu, java8-runtime-headless | java8-runtime | java7-runtime-headless | java7-runtime | openjdk-8-jre-headless | openjdk-7-jre-headless
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
