Package: xwiki-enterprise-tomcat6-mysql
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Suggests: xwiki-enterprise-common (= [[version]]), xwiki-enterprise-tomcat-common (= [[version]]), xwiki-enterprise-mysql-common (= [[version]]), tomcat6
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]