Package: xwiki-enterprise-tomcat7-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-common (= [[version]]), tomcat7
Provides: xwiki-enterprise-tomcat-common
Suggests: xwiki-enterprise-tomcat7-mysql | xwiki-enterprise-tomcat7-pgsql
Replaces: xwiki-enterprise-tomcat-mysql (<< 3.5), xwiki-enterprise-tomcat-pgsql (<< 3.5), xwiki-enterprise-tomcat-common
Breaks: xwiki-enterprise-tomcat-mysql (<< 3.5), xwiki-enterprise-tomcat-pgsql (<< 3.5), xwiki-enterprise-tomcat-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]