Package: xwiki-enterprise-tomcat5-pgsql
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Suggests: xwiki-enterprise-common (= [[version]]), xwiki-enterprise-tomcat-common (= [[version]]), xwiki-enterprise-pgsql-common (= [[version]]), tomcat5
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]