Package: xwiki-enterprise-tomcat8-mysql
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-mysql-common (= [[version]]), xwiki-enterprise-tomcat8-common (= [[version]])
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]