Package: xwiki-enterprise-mysql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-common (= [[version]]), mysql-server, libmysql-java
Provides: xwiki-enterprise-database
Recommends: xwiki-enterprise-tomcat5-mysql | xwiki-enterprise-tomcat6-mysql | xwiki-enterprise-tomcat7-mysql
Replaces: xwiki-enterprise-tomcat-mysql (<< 3.5), xwiki-enterprise-database
Breaks: xwiki-enterprise-tomcat-mysql (<< 3.5)
Conflicts: xwiki-enterprise-database
Maintainer: XWiki Team (devs@xwiki.org)
License: LGPL 2.1
Description: XWiki enterprise MySQL common package
 XWiki is a free wiki software platform written in Java with a design emphasis
 on extensibility.
 .
 XWiki Enterprise is an easily installed enterprise wiki with features such as
 WYSIWYG editing, OpenOffice based document import/export, semantic annotations
 and tagging, and advanced permissions management.
 .
 XWiki Enterprise is designed to help teams collaborate more efficiently. It
 runs in a Java servlet container such as Tomcat.