Package: xwiki-enterprise-tomcat-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-enterprise-common (= [[version]])
Suggests: xwiki-enterprise-tomcat5-mysql | xwiki-enterprise-tomcat5-pgsql | xwiki-enterprise-tomcat6-mysql | xwiki-enterprise-tomcat6-pgsql | xwiki-enterprise-tomcat7-mysql | xwiki-enterprise-tomcat7-pgsql
Replaces: xwiki-enterprise-tomcat-mysql (<< 3.5), xwiki-enterprise-tomcat-pgsql (<< 3.5)
Breaks: xwiki-enterprise-tomcat-mysql (<< 3.5), xwiki-enterprise-tomcat-pgsql (<< 3.5)
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]